.main-login{
  width: 100vw;
  height: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.up-login{
  justify-content: center;
  align-items: center;
}

.up-login > h1{
  color: #29AAE3;
}

.cdt-login {
  background-color: #CCCCCC; /* Define a cor de fundo do botão como azul */
  color: rgb(0, 0, 0); /* Define a cor do texto do botão como branco */
  border: none; /* Remove a borda do botão */
  padding: 10px 20px; /* Adiciona espaço interno ao botão */
  border-radius: 5px; /* Adiciona cantos arredondados ao botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilos para quando o botão é hover (quando o cursor está sobre ele) */
.cdt-login:hover {
  background-color: rgb(151, 151, 151); /* Muda a cor de fundo quando o botão é hover */
}

.btn-login {
  background-color: #29AAE3; /* Define a cor de fundo do botão como azul */
  color: white; /* Define a cor do texto do botão como branco */
  border: none; /* Remove a borda do botão */
  padding: 10px 20px; /* Adiciona espaço interno ao botão */
  border-radius: 5px; /* Adiciona cantos arredondados ao botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilos para quando o botão é hover (quando o cursor está sobre ele) */
.btn-login:hover {
  background-color: rgb(151, 151, 151); /* Muda a cor de fundo quando o botão é hover */
}
